$body-color: #212121;

.main {
  color: $body-color;
  width: 80%;
  margin: 0 auto;
}

h2 {
  // color: #6e0000
}
.main {
  color: #212121;
  border: 1px solid black;
}

#searchCard {
  border: 1px solid black;
}